@use '../styles/global.scss' as *;

// Spacing variables
$navbar-margin-left: 3.5rem;
$navbar-margin-vertical: 2.5rem;
$content-font-size: 1.5rem;
$circle-size: 1.25rem;
$circle-margin-top: 0.2rem;

// Font size variables
$title-font-size: 1.75rem;
$navbar-actual-height: $title-font-size + 2 * $navbar-margin-vertical;

.navbar {
margin-left: $navbar-margin-left;
margin-top: $navbar-margin-vertical;
margin-bottom: $navbar-margin-vertical;
height: $title-font-size;
line-height: 1;


.navbar-content {
    position: fixed;
    display: flex;
    align-items: center;
    gap: $content-font-size;
    flex-wrap: nowrap;
}

.circles {
    display: flex;
    gap: $circle-size;
    align-items: center;
}

.circle {
    width: $circle-size;
    height: $circle-size;
    border-radius: 50%;
    flex-shrink: 0;
    margin-top: $circle-margin-top;

    &.circle-ex-light {
    background-color: $ex-light-blue;
    }

    &.circle-light {
    background-color: $light-blue;
    }

    &.circle-primary {
    background-color: $primary-blue;
    }
}

.title {
    font-family: 'Playfair Display SC', serif;
    font-size: $title-font-size;
    font-weight: 400;
    margin: 0;
    color: $home-title-color;
    white-space: nowrap;
    text-decoration: none;
}

.nav-link {
    font-family: 'Playfair Display', serif;
    font-size: $content-font-size;
    color: $light-blue;
    text-decoration: none;
    white-space: nowrap;
    transition: 300ms ease-out;

    &:hover {
    color: $primary-blue;
    margin: 0 0.5rem;
    }

    &.active {
    color: $primary-blue;
    }
}

.divider {
    font-family: 'Jeju Myeongjo', serif;
    font-size: $content-font-size;
    color: $ex-light-blue;
    user-select: none;
}
}